*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brick-head{
  color: pink;
  background-color:white;
  display: block;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;  
  z-index: 1;
}

.brick-head ul{
  height: 27px;
}

.brick-head li{
  display: inline;
  font-size: 23.5px;
}

.hero-block{

  background-position: center;
  height: 1400px;
  background-image: url(evian_logo.png);
  background-size: cover;

  display: flex;
  align-items:center;
  justify-content: center;

}

.hero-block h1{
  color: #E50043;
  font-size: 80px;
}

.Product{

  width: 1040px;
  margin: 0 auto;

}

.about{

  margin-top: 150px;
  margin-bottom: 150px;
  padding: 15px;

  border-style:solid;
  border-color: #E50043;
  border-radius:20px;

}

.edition{
  display: flex;
  justify-content: space-between;
}
 

.edition h3{
  padding-left: 15%;
}

.edition p{
  padding-left: 40%;
}

.Glass{
  margin-top: 150px;
  margin-bottom: 150px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-style:solid;
  border-color: #E50043;
  border-radius:20px;

}

.brick{
  background-color:pink;
  color: white;
  padding: 20px;
}